<div class="grid">
    <div class="col-12 ">
        <form   autocomplete="off"
                [formGroup]="logInForm"
                (ngSubmit)="logIn()">
            <div class="title">
                <h1 class=" text-center">Welcome!</h1>
            </div>
            <!-- input email -->
            <div class="mb-2">
                <span class="p-input-icon-right">
                    <i class="pi pi-envelope"></i>
                    <input  type="email"
                            class="border-round" 
                            pInputText 
                            placeholder="Email"
                            formControlName="email"/>
                </span>
            </div>
            <!-- input password -->
            <div class="mb-2">
                <p-password [inputStyleClass]="'border-round'"
                            [styleClass]="'border-round'"
                            [toggleMask]="true" 
                            [feedback]="false" 
                            placeholder="Password"
                            formControlName="password">
                </p-password>
            </div>
            <!-- Login button -->
            <div class="flex justify-content-center">
                <button pButton 
                        pRipple 
                        type="submit" 
                        label="Log In" 
                        class="p-button-rounded mt-2 w-full"
                        [disabled]="logInForm.pending">
                </button>
            </div>
        </form>
        <!-- register link -->
        <div class="redirect text-center mt-5">
            Don`t have an account?
            <a class="link-register" routerLink="/signin/register">
                Sing up
            </a>
        </div>
    </div>
</div>