
/*  
 El elemento de chat usa un diseño flexible
*/
.box{}
.item {
	display: flex;
	margin-bottom: 10px;
}

.left {
	flex-direction: row;
}

.right {
	flex-direction: row-reverse;
}

.right .message {
	margin-right: 10px;
}
.left .message{
	margin-left: 10px;
}

.header-img {
	width: 42px;
	height: 42px;
	border-radius: 100px;
}

.message {
	border-radius: 10px;
	display: flex;
	background: #efefef;
	min-height: 25px;
	padding: 9px 10px;
	align-items: center;
	color: #222121;
}

.chart-timer{
	text-align: center;
    color: #616161;
    font-size: 13px;
}
