<p-toast position="top-center" key="tc"></p-toast>
<div class="grid">
    <div class="col-12 ">
        <form   [formGroup]="registerForm"
                (ngSubmit)="createUser()">
            <div class="title">
                <h1 class=" text-center">Sing up</h1>
            </div>
            <!-- input name -->
            <div class="">
                <span class="p-input-icon-right">
                    <i class="pi pi-user"></i>
                    <input  type="text"
                            class="border-round" 
                            pInputText 
                            placeholder="Name"
                            formControlName="name"/>
                </span>
            </div>
            <!-- Error msg -->
            <small  id="name"
                    class="p-error fadein"
                    error-msg
                    [valid]="!userMsgFormService.isValidField('name')"
                    [message]="userMsgFormService.nameErrorMsg">
            </small>
            <!-- input email -->
            <div class="mt-2">
                <span class="p-input-icon-right">
                    <i class="pi pi-envelope"></i>
                    <input  type="email"
                            class="border-round" 
                            pInputText 
                            placeholder="Email"
                            formControlName="email"/>
                </span>
            </div>
            <!-- Error msg -->
            <small  id="email"
                    class="p-error fadein"
                    error-msg
                    [valid]="!userMsgFormService.isValidField('email')"
                    [message]="userMsgFormService.emailErrorMsg">
            </small>
            <!-- input password -->
            <div class="mt-2">
                <p-password [inputStyleClass]="'border-round'"
                            [styleClass]="'border-round'"
                            [toggleMask]="true" 
                            placeholder="Password"
                            formControlName="password">
                </p-password>
            </div>
            <!-- Error msg -->
            <small  id="password"
                    class="p-error fadein"
                    error-msg
                    [valid]="!userMsgFormService.isValidField('password')"
                    [message]="userMsgFormService.passErrorMsg">
            </small>
            <!-- Login button -->
            <div class="flex justify-content-center">
                <button pButton 
                        pRipple 
                        type="submit" 
                        label="Become a member" 
                        class="p-button-rounded mt-2 w-full"
                        [disabled]="registerForm.pending">
                </button>
            </div>
        </form>
        <!-- register link -->
        <div class="redirect text-center mt-5">
            Already have an account?
            <a class="link-register" routerLink="/signin/login">
                Log in
            </a>
        </div>
    </div>
</div>