<div class="center flex justify-content-center flex-wrap mt-3">
    <div class="flex align-items-center w-12 md:w-9 lg:w-9">
        <p-card class="w-full">
            <div class="grid">
                <div class="col-5 sm:col-5 md:col-4 lg:col-3">
                    <app-users-panel></app-users-panel>
                </div>
                <div class="col-7 sm:col-7 md:col-8 lg:col-9 sm:border-color">
                    <app-messages-panel></app-messages-panel>
                </div>
            </div>
        </p-card>
    </div>
</div>